aniso8601==8.0.0
astroid==2.4.2
autopep8==1.5.3
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
isort==4.3.21
itsdangerous==1.1.0
gpy~=1.9.9
Jinja2==2.11.2
lazy-object-proxy==1.4.3
matplotlib~=3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
numpy~=1.19.0
pandas~=1.0.5
pycodestyle==2.6.0
git+https://github.com/bhklab/pyKuLGaP.git@pypi
pylint==2.5.3
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
scikit-learn~=0.23.1
scipy~=1.5.1
seaborn~=0.10.1
setuptools~=47.1.1
simplejson==3.17.2
six==1.15.0
statsmodels~=0.11.1
sklearn~=0.0
toml==0.10.1
Werkzeug==1.0.1
wrapt==1.12.1










